/* your code here */
body{
	background-color:palegreen;
}
.product{
	border:1px solid black;
	background-color:white;
	padding:20px;
	margin:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.photo-main{
	border:1px solid greenyellow;
	background-color:greenyellow;
	
}
.controls{
	display:flex;
	justify-content:space-between;

}
.photo-album{
	display:inline-block;

}
.photo-album ul li{
	list-style:none;
	border:1px solid black;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin-bottom:2px;
	
}


.product__info{
	display:inline-block;
	padding:20px;
	margin:20px;
}

.title span{
	color:grey;
}
.price span{
	font-size:30px;
	color:red;
}
.variant{
	color:gray;
}
.variant ul li{
	list-style:none;
}
.description p{
	color:gray;
}

button{
	background-color:red;
	padding:10px;
	margin:10px;
	border-radius:5px;
	color:white;
	font-weight:bold;
	border:none;
}