*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(135, 240, 180);
}


.product{
    width: 900px;
    margin: 60px auto;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}


.product__photo{
    width: 50%;
    position: relative;
}

.photo-container{
    position: relative;
    height: 100%;
}

.photo-main{
    background-color: #a8e063;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    position: relative;
}

.photo-main img{
    width: 100%;
}


.controls{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}


.photo-album{
    background-color: white;
    padding: 15px 0;
    text-align: center;
}

.photo-album ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.photo-album ul li img{
    width: 60px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
    background: white;
}


.product__info{
    width: 50%;
    padding: 40px;
}


.title h1{
    margin-bottom: 5px;
}

.title span{
    color: gray;
    font-size: 14px;
}


.price{
    margin: 25px 0;
}

.price span{
    font-size: 38px;
    color: red;
    font-weight: bold;
}


.variant h3{
    font-size: 12px;
    letter-spacing: 2px;
    color: gray;
    margin-bottom: 12px;
}

.variant ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.variant ul li img{
    width: 35px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

/* DESCRIPTION */
.description{
    margin: 30px 0;
}

.description p{
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 14px;
}

.description ol{
    padding-left: 18px;
}

.description ol li{
    margin-bottom: 8px;
    font-size: 14px;
}


button{
    background-color: #ff3d3d;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
